# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environment
env/
venv/
ENV/
*.env

# Django
*.log
staticfiles/
media/

# VSCode / IDE
.vscode/
.idea/

# Node (თუ React დაემატება მერე)
node_modules/
build/